@using monamedia.Models
@{
    ViewBag.Title = "ĐƠN HÀNG - CHỜ GIAO";
    Layout = "~/Areas/Staff/Views/Shared/StaffLayoutPage1.cshtml";
}
@model List<monamedia.ViewModels.OrderViewModel>
@section Styles
{
    <style>
        h2 {
            font-size: 30px;
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        .table tbody tr {
            background-color: #f8f9fa;
        }

        .btn {
            padding: 8px 20px;
            font-size: 14px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
        }

            .btn-success:hover {
                background-color: #218838;
                border-color: #218838;
            }

        .navbar {
            margin-left: 90px;
        }

        .row.mb-3 {
            display: flex;
            align-items: center;
        }

            .row.mb-3 img {
                max-width: 60px;
                height: auto;
                display: block;
            }
        .table-container {
            border-radius: 10px;
            overflow: hidden;
            border: 2px solid #ced4da;
        }
        #orderContainer .row {
            display: flex;
            align-items: center;
        }

        #orderContainer .col-md-6 {
            flex: 1;
        }


        #orderContainer .form-check-inline label {
                margin-bottom: 0;
         }
        .custom-alert {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px;
            background-color: rgba(40, 167, 69, 0.5);
            color: #721c24;
            border: 1px solid #f5c6cb;
            border-radius: 5px;
            display: none;
        }

    </style>
}
<h2>Danh sách đơn hàng chờ giao</h2>
<div id="orderContainer" class="container-fluid">
    <div class="row mb-3">
    <div class="col-md-6">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <form class="d-flex" style="width:100%" onsubmit="return search()">
                    <input id="searchInput" class="form-control me-2" type="search" placeholder="Nhập tên sản phẩm" aria-label="Search" style="width: 80%">
                    <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
                </form>
            </div>
        </nav>
    </div>
    <div class="col-md-6" style="display: flex; align-items: center; justify-content: flex-end;">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="productType" id="waiting" value="waiting" checked>
            <label class="form-check-label" for="waiting">
                Chờ giao
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="productType" id="deliverring" value="delivering">
            <label class="form-check-label" for="delivering">
                Đang giao
            </label>
        </div>
        <div class="form-check form-check-inline" style="margin-right: 300px;">
            <input class="form-check-input" type="radio" name="productType" id="delivered" value="delivered">
            <label class="form-check-label" for="delivered">
                Đã giao
            </label>
        </div>
    </div>
</div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tên khách hàng</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Chi tiết đơn hàng</th>
                            <th scope="col">Giao hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.NameCustomer</td>
                                <td>@order.Phone</td>
                                <td>@order.Address</td>
                                <td>@(string.Format("{0:#,##0}", @order.total)) đ</td>
                                <td>
                                    <button class="btn btn-primary details-button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#detailModal"
                                            data-order-id="@order.OrderID"
                                            data-name="@order.NameCustomer"
                                            data-phone="@order.Phone"
                                            data-address="@order.Address"
                                            data-fee="@order.fee"
                                            data-total="@order.total"
                                            data-method="@order.Method"
                                            data-time="@order.TimeOrder">
                                        Xem chi tiết
                                    </button>
                                </td>
                                <td><button class="btn btn-success delivery-btn" data-order-id="@order.OrderID">Giao hàng</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">Chi tiết đơn hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <input type="hidden" id="modalProductID">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name"><strong>Tên khách hàng</strong></label>
                            <input type="text" class="form-control" id="name" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="phone"><strong>Số điện thoại</strong></label>
                            <input type="text" class="form-control" id="phone" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="address"><strong>Địa chỉ</strong></label>
                            <input type="text" class="form-control" id="address" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="orderDetails"><strong>Danh sách sản phẩm</strong></label>
                            <ul id="orderDetails" class="list-group"></ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="time"><strong>Thời gian đặt hàng</strong></label>
                            <input type="text" class="form-control" id="time" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="method"><strong>Phương thức thanh toán</strong></label>
                            <input type="text" class="form-control" id="method" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fee"><strong>Tiền giao hàng</strong></label>
                            <input type="text" class="form-control" id="fee" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="total"><strong>Tổng tiền</strong></label>
                            <input type="text" class="form-control" id="total" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="deliveryAlert" class="custom-alert" role="alert">
    <strong>Nhận giao hàng thành công!</strong>
</div>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    function search() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector(".table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
        return false;
    }
    $(document).ready(function () {
        $('.details-button').click(function () {
            var orderId = $(this).data('order-id');
            var modal = $('#detailModal');
            var modalBody = modal.find('.modal-body');
            var orderDetailsList = modalBody.find('#orderDetails');
            $.ajax({
                url: '/Order/GetOrderDetails',
                type: 'GET',
                data: { orderId: orderId },
                success: function (data) {
                    var productListHTML = '';
                    productListHTML += '<div class="row mb-3">';
                    productListHTML += '<div class="col"><span>Hình ảnh</span></div>';
                    productListHTML += '<div class="col"><span>Tên sản phẩm</span></div>';
                    productListHTML += '<div class="col"><span>Màu</span></div>';
                    productListHTML += '<div class="col"><span>Giá sản phẩm</span></div>';
                    productListHTML += '<div class="col"><span>Số lượng</span></div>';
                    productListHTML += '<div class="col"><span>Tổng tiền</span></div>';
                    productListHTML += '</div>';
                    productListHTML += '<div class="table-container">';
                    $.each(data, function (index, item) {
                        productListHTML += '<div class="row mb-3">';
                        productListHTML += '<div class="col">';
                        productListHTML += '<img src="/img/' + item.ProductImage + '" alt="Product Image" class="img-thumbnail custom-img">';
                        productListHTML += '</div>';
                        productListHTML += '<div class="col">';
                        productListHTML += item.ProductName;
                        productListHTML += '</div>';
                        productListHTML += '<div class="col">';
                        productListHTML += item.ProductColor;
                        productListHTML += '</div>';
                        productListHTML += '<div class="col">';
                        productListHTML += parseFloat(item.UnitPrice).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                        productListHTML += '</div>';
                        productListHTML += '<div class="col">';
                        productListHTML += item.Quantity;
                        productListHTML += '</div>';
                        productListHTML += '<div class="col">';
                        productListHTML += parseFloat(item.Price).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                        productListHTML += '</div>';
                        productListHTML += '</div>';
                    });
                    productListHTML += '</div>';

                    orderDetailsList.html(productListHTML);

                },
                error: function (xhr, status, error) {
                    console.log('Error:', xhr, status, error);
                }
            });
            var name = $(this).data('name');
            var phone = $(this).data('phone');
            var address = $(this).data('address');
            var time = $(this).data('time');
            var method = $(this).data('method');
            var fee = $(this).data('fee');
            var total = $(this).data('total');
            var formattedTime = formatTime(time);
            var Fee = formatCurrency(fee);
            var Total = formatCurrency(total);
            modal.find('#name').val(name);
            modal.find('#phone').val(phone);
            modal.find('#address').val(address);
            modal.find('#time').val(formattedTime);
            modal.find('#method').val(method);
            modal.find('#fee').val(Fee);
            modal.find('#total').val(Total);
        });
        $('.delivery-btn').click(function () {
            var orderId = $(this).data('order-id');
            $.ajax({
                url: '/Order/ReceiveDelivery',
                type: 'POST',
                data: { orderId: orderId },
                success: function (data) {
                    var alertElement = document.getElementById("deliveryAlert");
                    alertElement.style.display = "block";
                    setTimeout(function () {
                        alertElement.style.display = "none";
                        location.reload(true);
                    }, 1500);
                },
                error: function (xhr, status, error) {
                    console.log('Lỗi:', xhr, status, error);
                }
            });
        });
    });
    function formatTime(time) {
        var date = new Date(time);
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        var formattedTime = hours + ':' + minutes + ' ' + day + '/' + month + '/' + year;

        return formattedTime;
    }
    function formatCurrency(amount) {
        return amount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
    }
    $('input[type=radio][name=productType]').change(function () {
        var selectedValue = $('input[type=radio][name=productType]:checked').val();
        switch (selectedValue) {
            case 'waiting':
                window.location.href = '/Staff/SDelivery/AllDelivery'; 
                break;
            case 'delivering':
                window.location.href = '/Staff/SDelivery/AllDelivering';
                break;
            case 'delivered':
                window.location.href = '/Staff/SDelivery/AllDelivered';
                break;
            default:
                break;
        }
    });

</script>