
@{
    ViewBag.Title = "Import";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}
<style>
    .row_element-button {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
        text-align: left;
        text-size-adjust: 100%;
        justify-content: space-between;
    }

    .btn-add {
        background-color: rgb(157, 249, 157);
    }


    .btn + .btn {
        margin-left: 20px;
    }

    .btn:hover {
        opacity: 0.8;
        background-color: bisque;
    }
</style>
@model List<monamedia.Models.Import>
<main class="main">
    <div class="main_title">
        <p class="main_title-label "><b>Danh sách phiếu nhập kho</b></p>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                <div class="title-body">
                    <div class="row_element-button">
                        <div>
                            <a class="btn btn-add" type="button" href="~/Admin/AHome/AddImport" title="Thêm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                </svg>
                                <i class="bi bi-plus"></i>
                                Tạo phiếu nhập kho
                            </a>
                        </div>
                        <div>
                            <form class="d-flex flex-row align-items-center flex-wrap" action="/Admin/AHome/Import">
                                <label for="search" class="mx-2 my-1">Tìm kiếm</label>
                                <input class="form-control w-auto" type="date" id="search" name="search" placeholder="search" value="@ViewBag.Search" />
                                <button type="submit" class="btn btn-primary mx-2" style="background-color:blue">Tìm</button>
                            </form>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                           id="sampleTable">
                        <thead>
                            <tr>
                                <th>ID nhập kho</th>
                                <th>ID quản lý</th>
                                <th>Ngày nhập kho</th>
                                <th>Tổng tiền</th>
                                <th>Tình trạng</th>
                                <th width="100">Tính năng</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var import in Model)
                            {
                                <tr data-importID="@import.importID">

                                    <td>@import.importID</td>
                                    <td>@import.managerID</td>
                                    <td>@import.importDate.Value.ToString("dd-MM-yyyy")</td>
                                    <td class="total">
                                        <span class="number">@import.total</span> <span style="margin-left: 5px;">VND</span>
                                    </td>
                                    <td>@import.status</td>
                                    <td class="table-td-center">
                                        <button class="btn btn-primary btn-sm detail" data-bs-toggle="modal" data-bs-target="#detailModal" title="Chi tiết" id="show-emp" data-importid="@import.importID"
                                                style="background-color: white; margin-left:20px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-three-dots" viewBox="0 0 16 16" style="background-color:white;">
                                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                                            </svg>
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">Chi tiết phiếu nhập đơn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form chỉnh sửa thông tin tài khoản -->

                <div id="tableContainer">
                    <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                           id="sampleTable">
                        <thead>
                            <tr>
                                <th width="100">ID sản phẩm</th>
                                <th width="300">Tên sản phẩm</th>
                                <th width="100">Màu sắc</th>
                                <th width="100">Thương hiệu</th>
                                <th width="100">Loại sản phẩm</th>
                                <th width="100">Số lượng</th>
                                <th width="100">Giá nhập</th>

                                <th width="100">Giá bán</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts\jquery-3.7.1.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#detailModal').on('show.bs.modal', function (e) {
            var importId = $(e.relatedTarget).data('importid'); 
            var modal = $(this);
            $.ajax({
                url: '/Import/GetProductImport', 
                type: 'GET',
                data: { importid: importId },
                success: function (response) {
                    var tbody = modal.find('.modal-body tbody');
                    tbody.empty(); 
                    if (response && response.length > 0) {
                        $.each(response, function (index, product) {
                            var row = '<tr>' +
                                '<td>' + product.ProductID + '</td>' +
                                '<td>' + product.Name + '</td>' +
                                '<td>' + product.Color + '</td>' +
                                '<td>' + product.Brand + '</td>' +
                                '<td>' + product.Type + '</td>' +
                                '<td>' + product.Quantity + '</td>' +
                                '<td>' + product.PriceImport + '</td>' +
                                '<td>' + product.Price + '</td>' +
                                '</tr>';
                            tbody.append(row);
                        });
                    } else {
                        // Hiển thị thông báo nếu không có dữ liệu
                        tbody.append('<tr><td colspan="8">Không có sản phẩm</td></tr>');
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        formatNumbers('total');
    });
</script>
