
@{
    ViewBag.Title = "Information";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}
@model monamedia.Areas.Admin.Data.EditInformation
<main class="main">
    <div class="main_title">
        <p class="main_title-label "><b>Thông tin cá nhân</b></p>
        <div id="clock"></div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success" style="padding:12px;box-sizing:border-box;margin-left:30px;">
            @ViewBag.SuccessMessage
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                <h1 style="font-size:medium "><b>Thông tin cá nhân</b></h1>
                <form action="/Admin/AHome/Information" method="post">
                    <div class="row" style="padding-bottom: 20px;">
                        <input type="hidden" name="managerID" value="@Model.Manager.managerID" />
                        <input type="hidden" name="accountID" value="@Model.Account.accountID" />
                        <div class="form-group col-md-4">
                            <label class="control-label">Họ và tên</label>
                            <input class="form-control" type="text" id="fullName" name="fullName" placeholder="Họ và tên" required value="@Model.Manager.fullName">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Tên đăng nhập</label>
                            <input class="form-control" type="text" id="userName" name="userName" placeholder="Tên đăng nhập" required value="@Model.Account.userName">
                        </div>


                        <div class="form-group col-md-4">
                            <label class="control-label">Ngày sinh</label>
                            <input class="form-control" type="date" id="birthDate" name="birthDate" placeholder="Ngày sinh" value="@Model.Manager.birthDate.Value.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="form-group col-md-4">
                            <label class="control-label">Giới tính</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="Nam" value="true" @(Model.Manager.gender == true ? "checked" : "")>
                                <label class="form-check-label" for="Nam">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="Nữ" value="false" @(Model.Manager.gender == false ? "checked" : "")>
                                <label class="form-check-label" for="Nữ">Nữ</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Địa chỉ</label>
                            <input class="form-control" type="text" id="address" name="address" placeholder="Địa chỉ" required value="@Model.Manager.address">
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Số điện thoại</label>
                            <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" placeholder="Số điện thoại" required value="@Model.Manager.phoneNumber">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="form-group  col-md-4">
                            <label class="control-label">Kinh nghiệm</label>
                            <input class="form-control" type="text" id="experience" name="experience" placeholder="Kinh nghiệm" required value="@Model.Manager.experience">
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Email</label>
                            <input class="form-control" type="text" id="email" name="email" placeholder="Email" required value="@Model.Account.email">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Vai trò</label>
                            <input class="form-control" type="text" id="role" name="role" placeholder="Vai trò" value="@Model.Account.role" readonly>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Cập nhật</button>
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#passModal">Đổi mật khẩu</button>
                </form>
            </div>
        </div>


    </div>
</main>
<div class="modal fade" id="passModal" tabindex="-1" aria-labelledby="passModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">Chi tiết thông tin tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="passwordform">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="form-group ">
                            <label for="password">Mật khẩu cũ</label>
                            <input type="password" class="form-control" id="oldpassword" name="oldpassword">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="form-group ">
                            <label for="password">Mật khẩu mới</label>
                            <input type="password" class="form-control" id="newpassword" name="newpassword">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="form-group ">
                            <label for="password">Xác nhận mật khẩu mới</label>
                            <input type="password" class="form-control" id="confnewpassword" name="confnewpassword">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts\jquery-3.7.1.min.js"></script>
<script>
     //Sau 3 giây, ẩn đi thông báo thành công
    setTimeout(function () {
        $(".alert").fadeOut("slow");
    }, 2000);
</script>
<script>
  document.getElementById("confirmButton").addEventListener("click", function() {
    // Lấy giá trị của các trường nhập mật khẩu cũ, mật khẩu mới và xác nhận mật khẩu mới
    var oldPassword = document.getElementById("oldpassword").value;
    var newPassword = document.getElementById("newpassword").value;
    var confirmNewPassword = document.getElementById("confnewpassword").value;
    if (oldPassword !== "@Model.Account.password") {
        swal("", "Mật khẩu cũ không đúng!", "error");
        return;
    }
    // So sánh mật khẩu mới và xác nhận mật khẩu mới
    if (newPassword !== confirmNewPassword) {
        swal("", "Xác nhận mật khẩu mới không khớp!", "error");
        return;
    }

    // Gửi yêu cầu đổi mật khẩu đến server (sử dụng phương thức POST)
 $.ajax({
    url: '/Admin/AHome/ChangePassword',
    type: 'POST',
    data: { password: newPassword, accountid: @Model.Account.accountID },
    success: function (response) {
        // Xử lý phản hồi từ server
        if (response.success) {
           alert(response.message);
            swal("", "Mật khẩu đã được đổi thành công. Bạn sẽ được chuyển hướng đến trang đăng nhập.", "success");
           /* $('#passModal').modal('hide');
            // Xóa giá trị của các trường nhập mật khẩu trên form
            $('#oldpassword').val('');
            $('#newpassword').val('');
            $('#confnewpassword').val('');
           window.location.href = 'https://localhost:44347/AdminStaff/LoginForm';*/
            location.reload(true);
        } else {
            alert(response.message);
        }
    },
    error: function (xhr, status, error) {
        console.log('Error:', xhr, status, error);
    }
});
});
</script>
